<!--PRODUCT DESCRIPTION -->
<section>
    <div class="container">
        <div class="errorOrNot" *ngIf="errorMsg">
            <h1>{{ errorMsg }}</h1>
            <a [routerLink]="'/'" class="button-outline">продолжить</a>
        </div>
        <div class="row" *ngIf="loaded">
            <div class="col-md-12">
                <div class="product-cont">
                    <div class="product__image">
                        <img [src]="product.imageUrl" class="animateImg" alt="" tabindex="0">
                    </div>
                    <div class="product__info-block">
                        <h1>{{ product.name }} </h1>                       
                        <div class="product__info-price">
                            <p class="product-info-price">
                                <span class="product-info-price__title">Цена:</span>
                                <span class="product-info-price__val">
                                    <span class="product-info-price__val-old" *ngIf="oldPrice">{{ product.oldPrice}}<small> BYN </small></span>
                                    <span>{{ product.price }}</span> BYN
                                </span>
                            </p>
                            <button (click)="openDialog()" class="button-outline">Уточнить наличие</button>
                            <div class="product-description">
                                <div class="column">{{ product.description }} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
