<!--PRODUCT DESCRIPTION -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-cont">
                    <div class="product__image">
                        <img src="assets/img/products/red_roses.jpg" alt="">
                    </div>
                    <div class="product__info-block">
                        <h1>{{ product.name }}</h1>
                        <div class="product__info-price">
                            <p class="product-info-price">
                                <span class="product-info-price__title">Цена:</span>
                                <span class="product-info-price__val">
                                    <span class="product-info-price__val-old">{{ product.oldPrice}}<small> руб. </small></span>
                                    <span>{{ product.price }}</span> руб.
                                </span>
                            </p>
                            <a [routerLink]="'/'" class="button-outline">Уточнить наличие</a>
                            <div class="product-description">
                                <div class="column">{{ product.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>