<div class="product-form" >

    <mat-form-field class="product-full-width">
        <mat-label>Path</mat-label>
        <input 
        matInput placeholder="rozi,tulpani, bojiy_oduvanchik..."
        type="text" [(ngModel)]="category.line" 
        [formControl]="line"
        />
        <mat-error *ngIf="line.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="product-full-width">
        <mat-label>Название</mat-label>
        <input matInput placeholder="Горшки, шары..." 
        type="text" [(ngModel)]="category.name" 
        [formControl]="name"
        />
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="product-full-width">
        <mat-label>Parent_id</mat-label>
        <mat-select [(ngModel)]="category.parent_Id" >
            <mat-option 
            value="{{category.id}}"
            *ngFor="let category of categories; let i = index"
            >
                {{ category.name }}</mat-option>
        </mat-select>
    </mat-form-field>

</div>