<div class="product-form" >

    <mat-form-field class="product-full-width">
        <mat-label>Path</mat-label>
        <input 
        matInput placeholder="rozi,tulpani, bojiy_oduvanchik..."
        type="text" [(ngModel)]="category.line" 
        [formControl]="line"
        />
        <mat-error *ngIf="line.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="product-full-width">
        <mat-label>Название</mat-label>
        <input matInput placeholder="Горшки, шары..." 
        type="text" [(ngModel)]="category.name" 
        [formControl]="name"
        />
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <!-- <mat-form-field class="product-full-width">
        <mat-label>Категория товара</mat-label>
        <h1>{{errorMsg}}</h1>
        <mat-select [(ngModel)]="product.categoryId">
            <mat-option 
            value="{{category.id}}"
            *ngFor="let category of categories; let i = index"
            (click)="SetCategory(i)"
            >
                {{ category.categoryName }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="product-full-width" *ngIf="product.categoryId" >
        <mat-label>Подкатегория товара</mat-label>
        <h1>{{errorMsg}}</h1>
        <mat-select [(ngModel)]="product.subCategoryId" >
            <mat-option value="{{subCategory.id}}" *ngFor="let subCategory of categories[numbCat].subCategories; let i = index" (click)="SetSubCategory(i)">
                {{ subCategory.categoryName }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field class="product-full-width" *ngIf="product.subCategoryId">
        <mat-label>Подподкатегория товара :)</mat-label>
        <h1>{{errorMsg}}</h1>
        <mat-select [(ngModel)]="product.underSubCategoryId">
            <mat-option value="{{underSubCategory.id}}" *ngFor="let underSubCategory of categories[numbCat].subCategories[numbSubCat].underSubCategories" >
                {{ underSubCategory.categoryName }}</mat-option>
        </mat-select>
    </mat-form-field> -->
</div>