<h1 class="h1-line"><span>Каталог товаров</span></h1>
<!--BLOG-->
<div class="container section">
    <!--BLOG POST-->
    <div class="row">
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'buketi']" fragment="Cata"><img src="assets/img/mainPage/buketi.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'buketi']" fragment="Cata" class="blog__read-more">Букеты</a>
                </div>

            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'cveti']" fragment="Cata"><img src="assets/img/mainPage/cveti.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'cveti']" fragment="Cata" class="blog__read-more">Цветы</a>
                </div>
            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'shari']" fragment="Cata"><img src="assets/img/mainPage/buketi.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'shari']" fragment="Cata" class="blog__read-more">Шары</a>
                </div>
            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'udobrenie']" fragment="Cata"><img src="assets/img/mainPage/udobreniya.jpg"
                            alt=""></a>
                    <a [routerLink]="['products/', 'udobrenie']" fragment="Cata" class="blog__read-more">Удобрение</a>
                </div>
            </div>
        </div>

        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'gorshki']" fragment="Cata"><img src="assets/img/mainPage/gorshki.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'gorshki']" fragment="Cata" class="blog__read-more">Горшки</a>
                </div>
            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'izdelia_iz_dereva']" fragment="Cata"><img src="assets/img/mainPage/izdeliya.jpg"
                            alt=""></a>
                    <a [routerLink]="['products/', 'izdelia_iz_dereva']" fragment="Cata" class="blog__read-more ">Изделия из
                        дерева ручной работы</a>
                </div>
            </div>
        </div>
    </div>
</div>