<h1 class="h1-line"><span>Магазин</span></h1>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 content">
                <div class="contact">
                    <div class="itemBody">
                        <div id="slide-contact" class="accordion">
                            <div class="page-header">
                                <h2>"Alleutina Shop" в Гродно:</h2>
                                <p>Покупайте цветы на ваш выбор, живые либо искусственные. Интересует грунт для
                                    огорода? Химия от вредителей?
                                    А может горшки для цветов? Приходи и выбирай! Лучшие изделия из двересины
                                    украсят ваш сад.
                                    Стоит ли брать шарики, придать подарку праздничное настроение? Конечно стоит и
                                    только у нас!
                                </p>
                            </div>
                            <div class="contact-address-cont">
                                <div class="contact-address-item">
                                    <div class="contact-address-text under-footer-address-item">
                                        <p class="under-footer-address-text">
                                            Город Гродно, улица Рогачевского 25
                                        </p>
                                        <p class="under-footer-address-text">
                                            мтс +375(29)-893-72-41
                                        </p>
                                        <p class="under-footer-address-text">
                                            Вторник-Суббота: с 9:00 до 20:00
                                            <br>Воскресенье: с 9:00 до 16:00
                                            <br> <small>Понедельник выходной</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="contact-address-item">
                                    <div class="contact-address-item__map">
                                        <iframe
                                            src="https://yandex.ru/map-widget/v1/?um=constructor%3A1af245c1f85b3aa26633dbb7b1909d90947287baa829aeecbcb7f9392a0459b4&amp;source=constructor"
                                            width="600" height="300" frameborder="0"></iframe>
                                    </div>
                                    <div class="contact-address-item__info">
                                        гр. Гродно, посёлок Южный, ул. Рогачевского 25.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>