.mat-drawer-container {
  background-color: #fcecfa;
}

.drawer-toolbar-header {
  display: flex;
  justify-content: space-between;
}
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .header-social-left {
    display: flex;
  }
  .header-login-button {
    margin-left: 10px;
  }

  .menu-navbar-mobile {
    display: none;
  }

  @media (max-width: 780px) {
    .menu-navbar-mobile {
      display: initial;
    }

    .header-login-button{
      font-size: 14px;
      height: 34px;
    }
  }