  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .menu-navbar-mobile {
    display: none;
  }

  @media (max-width: 780px) {
    .menu-navbar-mobile {
      display: initial;
    }
  }