.mat-drawer-container {
  background-color: #fcecfa;
}
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .menu-navbar-mobile {
    display: none;
  }

  @media (max-width: 780px) {
    .menu-navbar-mobile {
      display: initial;
    }
  }