<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">

        <mat-toolbar>
            <mat-toolbar-row class="drawer-toolbar-header">
                <h2> Alleutina Shop </h2>
                <span class="material-icons" (click)="drawer.close()">
                    clear
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
        
        <mat-nav-list>
            <a mat-list-item
              (click)="drawer.close()"
              [routerLink]="['/']"
              >Главная
            </a>            
            <app-accordion *ngFor="let category of categories" >
                <app-accordion-item  (closeDrawerEvent)="$event? drawer.close(): ''"
                    [data]="{name:category.name, line:category.line, children:category.children}"
                    >
                </app-accordion-item>
            </app-accordion>
            <a mat-list-item 
               (click)="drawer.close()" 
               [routerLink]="['/shop']"
               >Магазин
            </a>
        </mat-nav-list>

    </mat-drawer>
    <!--SOCIAL-->
    <div class="page">
        <div class="social">
            <div class="container">
                <div class="row clearfix">
                    <div class="header-social-left">
                        <button type="button" mat-button (click)="drawer.toggle()" class="menu-navbar-mobile">
                            <span class="material-icons">menu</span>
                            <span class="menu-navbar-mobile-text">Категории товаров</span>
                        </button>
                        <div class="header-phone">
                            <div class="header-phone-cont">
                                <a class="header-phone-item mts" href="tel:+375 00 999 99 99">+375(00)-999-99-99</a>
                            </div>                            
                        </div>
                        <button [routerLink]="'auth/login'"
                            mat-flat-button color="accent" 
                            class="header-login-button"
                            >Login
                        </button>
                    </div>
                    <div class="header-social">
                        <div class="header-social_networks">
                            <h6>Мы в соц сетях:</h6>
                            <a href="https://www.instagram.com/" target="_blank"><i
                                    class="fab fa-instagram"></i></a><!--"https://www.instagram.com/alleutina_shop/" -->
                            <a href="https://www.viber.com/ru/" target="_blank"
                                title="Должен быть установлен Viber для ПК"><i class="fab fa-viber"></i></a><!--"viber://chat?number=%2B375291233211" -->
                             <a href="https://telegram.org/" target="_blank"><i class="fab fa-telegram"></i></a> <!--"https://t.me/NickName" -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-content></ng-content>
    </div>
</mat-drawer-container>