<mat-list-item>
    <div class="headerTitle" >
        <a [routerLink]="['products/', data.line]">{{ data.name }}</a>
    </div>
    <div class="arrow">
        <mat-icon class="menu-caret" (click)="toggle()">arrow_drop_down</mat-icon>
    </div>
</mat-list-item>
<mat-nav-list *ngIf="showBody">
    <a mat-list-item
       *ngFor="let subCategory of data.children"
       [routerLink]="['products/', subCategory.line]">
        <div class="acc-body">
            {{ subCategory.name }}
        </div>
    </a>
</mat-nav-list>