.headerTitle {
    overflow-wrap: break-word;
    overflow: auto;
    width: 100%;
}
.headerTitle:active {
    border: 0px;
}
.acc-body {
    min-height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    line-height: 1.5rem;
}
