<!--SOCIAL-->
<div class="social">
    <div class="container">
        <div class="row clearfix">
            <div class="header-phone">
                <div class="header-phone-cont">
                    <a class="header-phonei-item mts" href="tel:+375 29 893 72 41">+375(29)-893-72-41</a>
                </div>
            </div>
            <div class="header-social">
                <a href="https://yandex.by/maps/-/CCQxFLdNtD" target="_blank">
                    <h6>гр. Гродно, посёлок Южный, ул. Рогачевского 25</h6>
                </a>
                <h6>Instagram:</h6>
                <a href="https://www.instagram.com/alleutina_shop/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

<!--HEADER-->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md col-sm col-xl">
                <!--NAVIGATION-->
                <div class="navbar">
                    <nav>
                        <ul class="nav" id="sub-menu">
                            <li><span><a [routerLink]="'/'">Главная</a></span></li>
                            <li><span><a [routerLink]="['products/', 'cveti']">Цветы</a></span>
                                <ul class="nav">
                                    <li><span><a [routerLink]="'/'" class="">Живые цветы</a></span>
                                        <ul class="nav">
                                            <li><span><a [routerLink]="'/'">Розы</a></span></li>
                                            <li><span><a [routerLink]="'/'">Тюльпаны</a></span></li>
                                            <li><span><a [routerLink]="'/'">Хризантемы</a></span></li>
                                        </ul>
                                    </li>
                                    <li><span><a [routerLink]="'/'" class="">Искусственные цветы</a></span>
                                        <ul class="nav">
                                            <li><span><a [routerLink]="'/'">Большая роза искусственная</a></span></li>
                                            <li><span><a [routerLink]="'/'">Венки искусственные</a></span></li>
                                            <li><span><a [routerLink]="'/'">Розы искусственные</a></span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><span><a [routerLink]="['products/', 'buketi']">Букеты</a></span></li>
                            <li><span><a [routerLink]="['products/', 'shari']">Шары</a></span></li>
                            <li><span><a [routerLink]="['products/', 'gorshki']">Горшки</a></span>
                                <ul class="nav">
                                    <li><span><a [routerLink]="'/'" class="">Горшки для цветов пластиковые</a></span>
                                        <ul class="nav">
                                            <li><span><a [routerLink]="'/'">Большие пластиковые горшки для цветов</a></span></li>
                                            <li><span><a [routerLink]="'/'">Балконные пластиковые горшки для цветов</a></span></li>
                                            <li><span><a [routerLink]="'/'">Подвесные пластиковые горшки для цветов</a></span></li>
                                        </ul>
                                    </li>
                                    <li><span><a [routerLink]="'/'" class="">Горшки для цветов керамические</a></span>
                                        <ul class="nav">
                                            <li><span><a [routerLink]="'/'">Большие керамические горшки для цветов</a></span></li>
                                            <li><span><a [routerLink]="'/'">Квадратные керамические горшки для цветов</a></span></li>
                                            <li><span><a [routerLink]="'/'">Круглые керамические горшки для цветов</a></span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><span><a [routerLink]="['products/', 'udobrenie']">Удобрения</a></span>
                                <ul class="nav">
                                    <li><span><a [routerLink]="'/'" class="">Средства защиты растений</a></span>
                                        <ul class="nav">
                                            <li><span><a [routerLink]="'/'">Удобрения для архидей</a></span></li>
                                            <li><span><a [routerLink]="'/'">Защита от вредителей</a></span></li>
                                        </ul>
                                    </li>
                                    <li><span><a [routerLink]="'/'" class="">Грунт</a></span></li>
                                </ul>
                            </li>
                            <li><span><a [routerLink]="['products/', 'izdelia_iz_dereva']">Изделия из дерева</a></span>
                                <ul class="nav">
                                    <li><span><a [routerLink]="'/'" class="">Ящики</a></span>
                                        <ul class="nav">
                                            <li><span><a [routerLink]="'/'">Украшения</a></span></li>
                                            <li><span><a [routerLink]="'/'">Ящики для цветов</a></span></li>
                                        </ul>
                                    </li>
                                    <li><span><a [routerLink]="'/'" class="">Садовые изделия</a></span></li>
                                </ul>
                            </li>
                            <li><span><a [routerLink]="'/shop'">Магазин</a></span></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="logo">
            <div class="logo_text">
                <a [routerLink]="'/'">
                    <h1>Alleutina Shop</h1>
                    <h2>HAND MADE</h2>
                </a>
            </div>
        </div>
    </div>
    <img src="assets/img/bg/bg-main1.jpg" alt="" class="header_img">
</header>