/* You can add global styles to this file, and also import other style files */
/*
    font-family: 'Lora', serif;
    font-family: 'Mulish', sans-serif;
*/
body{
    font-family: 'Mulish', sans-serif;
    background-color: #fcecfa;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer {
    margin-top: auto;
}
.errorOrNot{
    text-align: center;
    margin-top: 60px;
}

.errorOrNot button {
    margin-bottom: 15px;
    margin-top: 10px;
}
/*...................
SOCIAL
...................*/

.social {
    font-family: 'Lora', serif;
    padding-top: 5px;
    background: #f6f3ef;    
    border-bottom: solid 2px #fff;
}
/*...................
NAV-MENU
...................*/
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar {
    font-family: 'Lora', serif;
    min-height: 36px;
    position: relative;
    border-radius: 4px;
    margin-bottom: 0;
}
.nav>li {
    position: relative;
    display: block;
}

/*...................
SUB-NAV-MENU
...................*/
#sub-menu {
    text-align: left;
    position: relative;
}

#sub-menu>li {
    display: inline-block;
    position: static;
}
#sub-menu>li span {
    padding: 0;
}

#sub-menu>li span a {
    color: #401f12;
    font-weight: 500;
    padding: 0px 13px 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.15s ease-in;
}
#sub-menu>li >span >a {
    padding: 5px 10px 12px;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
}

#sub-menu>li>ul {
    display: none;
    padding-bottom: 15px;
    padding-left: 5px;
    position: absolute;
    left: 0;
    top: 38px;
    background-color: rgba(246,243,239,0.5);
    z-index: 5;
    width: 100%;
    right: 0;
}
#sub-menu>li>ul:focus { 
    display: block;
}
#sub-menu>li>ul>li>span {
    padding: 0;
    display: block;
}
#sub-menu>li>ul>li>span>a {
    padding-top: 7px;
    color: #c81b42;
    font-size: 15px;
    text-transform: none;
    font-weight: 300;
    padding-bottom: 0;
}
#sub-menu>li span a:active, #sub-menu>li span a:hover, #sub-menu>li span a:focus {
    color: #f3388f;
    text-decoration: none;
}

#sub-menu>li>ul>li>ul {
    padding-left: 29px;
}

#sub-menu .main-menu-go-back {
    display: none;
}

#sub-menu>li:hover > ul {
    display: flex;
}


/*...................
HEADER
...................*/

.header {
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.header-phone .header-phone-item {
    margin: 6px 11px 6px 5px;
    line-height: 26px;
    font-size: 16px;
    padding-left: 34px;
    display: inline-block;
    position: relative;
    color: #4c2214;
    text-decoration: none;
    font-weight: 500;
}

.header-phone-item:hover{
    color: #f3388f;
}
.header-phone .header-phone-item.mts:before {
    content: "";
    background: url(./assets/img/bg/mts.png) no-repeat;
    background-size: cover;
    width: 19px;
    height: 18px;
    position: absolute;
    left: 11px;
    top: 4px;
}

.clearfix {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
.header-social {
    display: flex;
}

.header-social h6 { 
    font-family: 'Lora', serif;   
    font-size: 16px;
    display: inline-block;
    margin-right: 6px;
    color: #4c2214;    
    line-height: 1.1;
    margin-top: 11px;
    margin-left: 20px;
    font-weight: 500;
}

 .header-social a {
    font-size: 19px;
    margin-bottom: 20px;
    color: rgb(17, 12, 12);
    text-decoration: none;    
    margin-right: 10px;
 }
 .header-social a:last-child {
    margin-right: 45px;
    }

.header-social a:hover, .header-social>a>h6:hover {
    color: #f3388f;
    text-decoration: none;
 }
 

.header .container {    
    position: relative;
    height: 100%;
}
.header .container .row {    
    padding-top: 5px;
}

.header_img {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 0;
    top: 50px;
}
.logo-container {
    height: 100%;
    display: flex;
    justify-content: center;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 240px;
    height: 240px;
    z-index: 1;
    top: 105px;
    background-color: #fcecfa;
    transform: rotate(45deg);
    opacity: 0.9;
    transition: all 0.15s ease-in;
    overflow: hidden;
    font-family: 'Charm', cursive;
    font-size: 21px;
}
.logo:hover {
    transform: scale(1.1) rotate(45deg);
    box-shadow: 5px 5px 20px 0px rgba(31, 35, 37, 0.8);
    opacity: 0.8;
}
.logo_text {
    transform: rotate(-45deg);
    font-weight: 600;
}
.logo_text a {
    color: #000;
    text-decoration: none;
}
.logo_text a:hover {
    color: #f3388f;    
    text-decoration: none;
}
/*...................
MAIN
...................*/
.h1-line span {
    position: relative;
    z-index: 3;
    padding: 0 12px;
    background-color: #fcecfa;
}
.h1-line:before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    top: 46%;
    background: #000;
}
.h1-line {
    position: relative;
    font-size: 42px;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    line-height: 1.05em;
}
.section {
    padding-top: 50px;
    padding-bottom: 100px;
}

.title {
    font-size: 35px;
    color: #222;
    font-family: 'Lora', serif;
    margin-bottom: 5px;
    text-align: center;
}

.subtitle {
    font-family: 'Lora', serif;
    font-size: 12px;
    color: #919191;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
}
.description {
    font-size: 15px;
    color: rgb(137, 137, 137);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 40px;
}


/*...................
CARD
...................*/
.card {
    font-family: 'Lora', serif; 
    font-weight: 600;   
    text-align: center;
    margin-bottom: 50px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover {    
    box-shadow: 0px 5px 30px 0px rgba(102, 136, 153, 0.4);
}

.card__image {  
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}
.card__image img {
    max-width: 100%;
}
.card__title {
    margin-bottom: 5px;
    text-decoration: none;
    color: #222;
    font-size: 18px;
    font-weight: 600;
}
.card__title:hover {
    color: #f3388f;    
    text-decoration: none; 
}

.card__price {
    font-size: 13px;
    color: #f3388fd2;
    margin-right: 5px;
}

.card__price span {
    color: #838B8f;
    text-decoration: line-through;
}

.card__hover {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 30px;
    color: #f3388f;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
    transition: all 0.18s ease-in;
}
.card__hover:hover {
    opacity: 0.5;
    color: #fff;
    text-decoration: none;
}

.card__button-discription {
    display: flex;
    justify-content: center;
}
.card__button {
    font-family: 'Mulish', sans-serif;
    background-color: #f3388f;
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    padding-top: 13px;
    line-height: 1;
    width: 110px;
    height: 40px;
    display: block;
    border-radius: 3px;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.3);
    text-decoration: none;  
    transition: all 0.15s ease-in;
    margin-bottom: 12px;      
}
.card__button_nal {
    margin: 10px 6%;
    padding-top: 14px;
    width: 200px;
    display: block;
}
.card__button:hover {
    color: #ffffff;
    background-color: #bd3675;
    text-decoration: none;  
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);

}
/*...................
PRODUCT DESCRIPTION
...................*/
.product-cont {
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 6px;
}

.product__image {
    float: left;
    width: 38%;
    box-sizing: border-box;
    border: 1px solid #c3c3c3;
    margin: 22px;
    position: relative;
}

.product__image img{
    transition: all 0.25s ease;
    display: block;
    width: 100%;
    cursor: zoom-in;
}
.product__image img:focus {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(59, 59, 59, 0.4);
}
.product__image img:focus, 
.product__image img:focus ~ * { 
    pointer-events: all;
    cursor: default;
}



.product__info-block {
    width: 400px;
    padding-top: 10px;
    float: left;
    margin-left: 24px;
    font-size: 16px;
    margin-bottom: 22px;
}

.product__info-block h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 28px;
    margin: 12px 0 16px;
}

.product__info-price {
    margin-bottom: 6px
}

.button-outline {
    border-color: #f3388f;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    height: 38px;
    width: 220px;
    font-family: 'Lora', serif;
    line-height: 1;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 10px;
    transition: all 0.15s ease-in;
}
.button-outline:hover {
    text-decoration: none;
    background-color: #f3388f;
    color: #fff;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
}

.product-info-price{
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    font-weight: 400;
    padding: 18px 0 22px;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}

.product-info-price__title {
    color: #010000;
    margin-right: 5px;
}

.product-info-price__val {
    font-size: 26px;
    color: #020000;
}

.product-info-price__val-old {
    font-size: 20px;
    text-decoration: line-through;
    margin-right: 5px;
}

.product-description {
    padding-top: 50px;
    font-size: 16px;
    color: #000;
}
/*...................
INFO FORM ^
...................*/
.info-form {
    display: inline-block;
    width: 396px;
    vertical-align: top;
    margin-left: 20px;
    padding-bottom: 22px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.modal-text-cont {
    display: inline-block;
    width: 295px;
    margin: 0;
    max-height: inherit;
    box-sizing: border-box;
    height: 100%;
}

.info-form h2 {
    color: black;
    font-size: 24px;
    font-weight: 700;
    text-align: start;
}

.cover-collection {
    background: #868686;
    margin: 22px 17px 22px 25px;
    width: 270px;
}
.cover-img {
    display: inline-block;
    min-width: 225px;
    margin: 10px;
    max-height: 300px;
}
.cover-img img {
    width: 250px;
    height: 300px;
}
.cover-collection h2 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
}
/*...................
BLOG ^
...................*/

.blog {
    margin-bottom: 25px;
}

.blog img {
    width: 236px;
    min-height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0px 0px;
}
.blog>.row {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.blog__title {
    background: rgba(224, 224, 224, 0.973);
    border-radius: 4px;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.2);
    max-width: 236px;
    padding-bottom: 5px;
    transition: all 0.12s ease-in;
}
.blog__read-more {
    font-family: 'Lora', serif; 
    font-size: 23px;
    color: rgb(34, 34, 34);
    line-height: 1.2;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 6px;
    min-width: 236px;
    transition: all 0.13s ease-in;
}
.blog__title:hover {
    border-radius: 5.5px;
    background-color: #e94382;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.45);
}
.blog__read-more:hover {
    color: rgb(255, 255, 255);    
    text-decoration: none;  
    
}
/*...................
contact
...................*/
h2 { font-size: 30px; }
.contact {
    text-align: center;
    padding-bottom: 100px;
}
.contact-address-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-address-item {
    margin-right: 30px;
}
.contact-address-item__map {
    background: rgba(255, 255, 255, 0.842);
    border-radius: 5px;
}
.contact-address-item__info {
    font-family: 'Lora', serif;
    text-align: left;
    color: #807f7fc5;
    font-size: 14px;
    padding: 5px 5px ;
    margin-top: -6px;
    background: rgba(255, 255, 255, 0.842);
    border-radius: 5px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    
}
.page-header p {
    line-height: 1;
    font-size: 14px;
}

.under-footer-address-text {
    margin: 0 0 12px;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 5px;
}
.under-footer-address-item {
    border: solid 1px #000;    
    padding: 20px 10px 10px;
}




/*...................
subscribe
...................*/
.subscribe {
    display: flex;
    justify-content: center;
}
.subscribe__input {
    color: #000;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #f3388f;
    height: 38px;
    width: 248px;
    margin-right: 10px;
}
.subscribe__input:hover, .subscribe__input:focus {
    outline: none;
    border-color: #861f4f;
}
.subscribe__button {
    font-family: 'Mulish', sans-serif;
    background-color: #f3388f;
    color: #ffffff;
    font-size: 15px;
    line-height: 1;
    width: 110px;
    height: 40px;
    display: block;
    border-radius: 3px;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.3);
    text-decoration: none;  
    transition: all 0.15s ease-in;
    margin-bottom: 12px;
    border: none;
    cursor: pointer;     
}
.subscribe__button:hover {
    color: #ffffff;
    background-color: #bd3675;
    text-decoration: none;  
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
    outline: none; 

}
.subscribe__button:focus {
    background-color: #861f4f;
    text-decoration: none;  
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.1);
    outline: none; 
}
/*...................
FOOTER
...................*/

.footer {
    text-align: center;
    background-color: #000;
    font-family: 'Mulish', sans-serif;
    padding: 20px 0 25px;
}
.footer-info {  
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
    line-height: 1.5;
    font-size: 13px;
}

 .footer__copyright {
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
 }

 .mt-60 {
     margin-top: 60px;
 }
 .mb-100 {
     margin-bottom: 100px;
 }

 /*...................
@MEDIA
...................*/
@media (max-width: 1205px) {
    .card__button_nal {
        margin: 10px 6%;
        width: 160px;
    }
    .navbar {
        display: none;
       }
       
       .header_img {
        top: 0px;
       }
       
   .logo {
    top: 80px;
   }
}
@media (max-width: 995px) {
    .header .container .row {
        padding-top: 10px;
        
    }
    .header-social h6 {
        font-family: 'Lora', serif;
        font-size: 14px;
    }
    .header-phone .header-phonei-item {
        margin: 6px 0;
        line-height: 26px;
        font-size: 13px;
    }
    #sub-menu>li >span >a {
        padding: 5px 10px 12px;
        font-size: 12px;
    }
    #sub-menu>li>ul>li>span>a {
        font-size: 15px;
        padding-top: 18px;
    }
    .clearfix {
        margin-bottom: 0px;
    }
    .h1-line {
        font-size: 28px;
    }
    .card__title {
        font-size: 16px;
    }
    .card__hover{
        font-size: 21px;
    }
    img {
        max-width: 100%;
    }
    .product__image {
        float: left;
        width: 200px;
    }
    
    .product__info-block {
        width: 420px;
        font-size: 13px;
    }
    .product__info-block h1 {
        font-size: 22px;
    }
    .product-info-price__val-old {
        font-size: 16px;
    }
    .product-info-price__val {
        font-size: 20px;
    }
    .product-description {
        padding-top: 22px;
        font-size: 15px;
    }
    .product-info-price {
        margin-right: 0px;
        font-weight: 400;
        padding: 0px 0 0px;
        border: 0px;
    }
    .card__button {
        font-size: 13px;
        padding-top: 7px;
        width: 90px;
        height: 28px;
    }
    .card__button_nal {
        width: 117px;
        font-size: 12px;
        padding-top: 9px;
    }
    .page-header p {
        line-height: 1;
        font-size: 13px;
    }
    .contact-address-item {
        margin-right: 20px;
    }
    .under-footer-address-text {
        margin: 0 0 12px;
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 5px;
    }
    .contact-address-item__map iframe {
        width: 450px;
    }

    #sub-menu>li>ul {
        top: 24px;
    }

    .button-outline{
        width: 256px;
        font-size: 14px;
    }
    
  .modal-text-cont {
    display: none;
  }  

  .info-form {
    width: 100%;
    padding-right: 20px;
    margin-left: 0px;
  }
   
  
}

@media (max-width: 780px) {
    .container {
        width: 85%;
    }

   .header {
     height: 315px;
     overflow: hidden;
     margin-bottom: 15px;
     position: relative;
   }
   
 
   .logo {
     width: 185px;
    height: 185px;
    font-size: 16px;
    top: 60px;
   }

   .blog__title {
     max-width: 350px;
   }
   .blog img {
     width: 350px;
   }
  .contact-address-cont {
    flex-direction: column;
   }
   .page-header p {
    font-size: 14px;
   } 
   .contact-address-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .under-footer-address-text {
    font-size: 20px;
  }  
  .card__hover{
    font-size: 18px;
  }
  .product-description {
    padding-top: 22px;
    font-size: 14px;
}
}

@media (max-width: 767px){
    .card__button_nal {
        font-family: "Lora", sans-serif;
        width: 221px;
        height: 31px;
        font-size: 17px;
        letter-spacing: 8px;
        padding: 7px;
        font-weight: 600;
    }
    .card__hover{
        font-size: 60px;
    }
    .errorOrNot h1 {
        font-size: 20px;
        margin: 10px;
    }
    .header-social_networks h6{
        display: none;
    }
    .header-social_networks {
        padding-top: 5px;
    }
}

@media (max-width: 605px)
{   
    .header-social_networks {
        padding-top: 5px;
   }
   .header-social a:last-child {
        margin-right: 0px;
   }
}
@media (max-width: 550px)
{
   .product__image {
       width: 350px;
   }
   .contact-address-item__map iframe {
    width: 350px;
   }

   .card__hover {
        font-size: 45px;
   }

   .header {
        height: 200px;
    }
   .logo {
        width: 140px;
        height: 140px;
        font-size: 10px;
        top: 34px;
   }
   
   .logo h2 {
        font-size: 16px;
   }
   .product__info-block {
        width: auto;
        height: auto;
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    .card__title {
        font-size: 20px;
      }
      .card__price {
        font-size: 17px;
      }
      
       .card__image img {
           width: 100%;
       }
       .product__image {
        width: 300px;
        margin: 10px 5px;
       }  
       .errorOrNot h1 {
        font-size: 16px;
    }
    .header-phone {
        display: none;
    }
}

@media (max-width: 390px) {
    
    .card__hover {
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .contact-address-item__map iframe {
        width: 289px;
    }
    .errorOrNot h1 {
        font-size: 15px;
    }
    
}