<div class="product-form" *ngIf="loaded">
    <mat-form-field class="product-full-width">
        <mat-label>Path name</mat-label>
        <input matInput placeholder="rozi,tulpani, bojiy_oduvanchik..." type="text" [(ngModel)]="product.productLine" />
    </mat-form-field>
    <mat-form-field class="product-full-width">
        <mat-label>Название</mat-label>
        <input matInput placeholder="Розы, тюльпаны, божий одуванчик..." type="text" [(ngModel)]="product.name" />
    </mat-form-field>

    <mat-form-field [style.fontSize]="16" class="product-full-width">
        <mat-label>Описание товара</mat-label>
        <textarea matInput
                  [(ngModel)]="product.description"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

    <mat-form-field class="product-full-width">
        <mat-label>Цена</mat-label>
        <input matInput placeholder="5$" type="number" [(ngModel)]="product.price" />
    </mat-form-field>

    <mat-form-field class="product-full-width">
        <mat-label>Старая цена, если нужна</mat-label>
        <input matInput placeholder="4" type="number" [(ngModel)]="product.oldPrice" />
    </mat-form-field>

    <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload> 

    <img style="width: 50%;" src="{{product.imageUrl}}" alt="">

    <mat-radio-group class="product-full-width" aria-label="Является ли он топом" [(ngModel)]="product.isFavourite" required>
        <mat-label>Является ли он топом: </mat-label>
        <mat-radio-button value="true" color="primary">Да</mat-radio-button>
        <mat-radio-button value="false">Нет</mat-radio-button>
    </mat-radio-group>


    <mat-radio-group class="product-full-width" aria-label="Есть ли в наличии" [(ngModel)]="product.available" >
        <mat-label>Есть ли в наличии: </mat-label>
        <mat-radio-button value="true" color="primary">Да</mat-radio-button>
        <mat-radio-button value="false">Нет</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="product-full-width">
        <mat-label>Категория товара</mat-label>
        <h1>{{errorMsg}}</h1>
        <mat-select [(ngModel)]="product.categoryId" >
            <mat-option 
            value="{{category.id}}"
            *ngFor="let category of categories; let i = index"
            >
                {{ category.name }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>