<h3>Форма для сброса пароля</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Введите email</mat-label>
          <input 
                matInput 
                placeholder="example@example.com" 
                formControlName="email" 
                required/>
          <mat-error *ngIf="form.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
    </div>

    <div formGroupName="passwords">
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Введите пароль</mat-label>
            <input 
            matInput 
            formControlName="password" 
            type="password"
            required/>
            <mat-error *ngIf="form.get('passwords').invalid
                              && form.get('passwords').get('password').touched"
              >{{getErrorMessagePassw()}}
            </mat-error>
          </mat-form-field>
        </div>
      
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Повторите пароль</mat-label>
            <input 
            matInput 
            formControlName="confpassword" 
            type="password"      
            [errorStateMatcher]="matcher"
            required/>
            <mat-error 
            *ngIf="form.get('passwords').hasError('notSame') 
                   && form.get('passwords').get('confpassword').touched"
            >Пароли должны совпадать</mat-error>
          </mat-form-field>
        </div>
    </div>

    <div class="form-group">
        <button 
        type="submit" 
        class="submit_button" 
        mat-raised-button color="primary" 
        [disabled]="form.invalid"
        >Сбросить
      </button>
    </div>
</form>