.example-container .mat-form-field + .mat-form-field {
    margin-left: 10px;
  }
  .mat-form-field {
    width: 300px;
}
.form-group {
    margin-bottom: 15px;
}

.submit_button{
  width: 100px;
  margin: 15px 0px 10px 0px;
}