<h1 class="h1-line"><span>Каталог товаров</span></h1>
<!--BLOG-->
<div class="container section">
    <!--BLOG POST-->
    <div class="row">
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'buketi']" ><img src="assets/img/mainPage/main_1.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'buketi']"  class="blog__read-more">Букеты</a>
                </div>

            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'cveti']" ><img src="assets/img/mainPage/main_2.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'cveti']"  class="blog__read-more">Цветы</a>
                </div>
            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'kompozicii']" ><img src="assets/img/mainPage/main_3.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'kompozicii']"  class="blog__read-more">Композиции</a>
                </div>
            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'vse_dlya_rasteniy']" ><img src="assets/img/mainPage/main_4.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'vse_dlya_rasteniy']" class="blog__read-more">Все для растений</a>
                </div>
            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'dekor_i_suveniri']" ><img src="assets/img/mainPage/main_5.jpg"
                            alt=""></a>
                    <a [routerLink]="['products/', 'dekor_i_suveniri']" class="blog__read-more ">Декор и сувениры</a>
                </div>
            </div>
        </div>
    </div>
</div>