<h1 class="h1-line"><span>Каталог товаров</span></h1>
<!--BLOG-->
<div class="container section">
    <!--BLOG POST-->
    <div class="row">
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'buketi']"><img src="assets/img/mainPage/buketi.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'buketi']" class="blog__read-more">Букеты</a>
                </div>

            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'cveti']"><img src="assets/img/mainPage/cveti.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'cveti']" class="blog__read-more">Цветы</a>
                </div>
            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'shari']"><img src="assets/img/mainPage/buketi.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'shari']" class="blog__read-more">Шары</a>
                </div>
            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'udobrenie']"><img src="assets/img/mainPage/udobreniya.jpg"
                            alt=""></a>
                    <a [routerLink]="['products/', 'udobrenie']" class="blog__read-more">Удобрение</a>
                </div>
            </div>
        </div>

        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'gorshki']"><img src="assets/img/mainPage/gorshki.jpg" alt=""></a>
                    <a [routerLink]="['products/', 'gorshki']" class="blog__read-more">Горшки</a>
                </div>
            </div>
        </div>
        <div class="blog col-md-4">
            <div class="row">
                <div class="blog__title">
                    <a [routerLink]="['products/', 'izdelia_iz_dereva']"><img src="assets/img/mainPage/izdeliya.jpg"
                            alt=""></a>
                    <a [routerLink]="['products/', 'izdelia_iz_dereva']" class="blog__read-more ">Изделия из
                        дерева ручной работы</a>
                </div>
            </div>
        </div>



        <!-- <div class="row justify-content-center">
            <div class="title">Join 100,000 members already collaboratign</div>
            <div class="col-md-6">
                <div class="description">sameone infosameone infosameone
                    infosameone infosameone infosameone infosameone infosameone infosameone
                    infosameone infosameone infosameone infosameone infosameone infosameone info</div>
            </div>
        </div> -->

    </div>
</div>