<div class="mail-container">
    <div class="mail-card">
      <header>
        <h1>
          Вас приветствует Alleutina Shop!
        </h1>
      </header>
      <div class="mail-main">
        <p>Перейдите по ссылке:  <a href="">//localhost:4200/auth/resetpassword?
          userId=4e993245-140a-404f-b9f6-4b35bfca1e56&code=CfDJ8M7x3AjRAtJIlLb
          6KfOuvZEzv2BpBPtlq6g%2BNVIKnBPPDfA%2F5Iv12Lc%2BqnL2BciueKhhYDnr
          ucBPd8Hg%2FEFhdMbeoT3Rcj0N4FhQLphV8GxgmKRNiZvtkohdyCcc%2FNeEEe
          AaFOfwQ3buzQt60A7BqZSeKBbbcEZ3y20xAHFxxtelhLOiZgVpl6%2FrlWBGMiSbAlnAewn0
          7VuJY%2BluUsSqibYxSMX6BYrVQ1h%2FCUcqMSKw</a>
        </p>
      </div>
    </div>
  </div>