<!--SOCIAL-->
<div class="social">
    <div class="container">
        <div class="row clearfix">
            <div class="header-phone">
                <div class="header-phone-cont">
                    <a class="header-phonei-item mts" href="tel:+375 29 893 72 41">+375(29)-893-72-41</a>
                </div>
            </div>
            <div class="header-social">
                <a href="https://yandex.by/maps/-/CCQxFLdNtD" target="_blank"><h6>гр. Гродно, посёлок Южный, ул. Рогачевского 25</h6></a>
                <h6>Instagram:</h6>
                <a href="https://www.instagram.com/alleutina_shop/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

<!--HEADER-->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md col-sm col-xl">
                <!--NAVIGATION-->
                <div class="navbar">
                    <nav>
                        <ul class="nav" id="sub-menu">
                            <li><span><a [routerLink]="'/'">Главная</a></span></li>
                            <li><span><a [routerLink]="'products/цветы'">Цветы</a></span>
                                <!-- <ul class="nav">
                                    <li><span><a [routerLink]="'/'" class="">Живые</a></span>
                                        <ul class="nav">
                                            <li><span><a [routerLink]="'/'">Розы</a></span></li>
                                            <li><span><a [routerLink]="'/'">Тюльпаны</a></span></li>
                                            <li><span><a [routerLink]="'/'">Хризантемы</a></span></li>
                                        </ul>
                                    </li>
                                    <li><span><a [routerLink]="'/'" class="">Искусственные</a></span></li>
                                </ul> -->
                            </li>
                            <li><span><a [routerLink]="'products/букеты'">Букеты</a></span></li>
                            <li><span><a [routerLink]="'products/шары'">Шары</a></span></li>
                            <li><span><a [routerLink]="'products/горшки'">Горшки</a></span></li>
                            <li><span><a [routerLink]="'products/удобрение'">Удобрение</a></span></li>
                            <li><span><a [routerLink]="['products/', 'изделия из дерева']">Изделия из дерева</a></span></li>
                            <li><span><a [routerLink]="'/shop'">Магазин</a></span></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
    <img src="assets/img/bg/bg-main1.jpg" alt="" class="header_img">
</header>