<!--SOCIAL-->
<div class="social">
    <div class="container">
        <div class="row clearfix">
            <div class="header-phone">
                <div class="header-phone-cont">
                    <a class="header-phone-item mts" href="tel:+375 29 893 72 41">+375(29)-893-72-41</a>
                    <button [routerLink]="'auth/login'" mat-flat-button color="accent" style="margin-right: 10px;">Login</button>
                    <button [routerLink]="'/admin-panel'" mat-flat-button color="accent">Admin-panel</button>
                </div>                
            </div>
            <div class="header-social">
                <a href="https://yandex.by/maps/-/CCQxFLdNtD" target="_blank">
                    <h6><i class="fas fa-map-marker-alt"></i> гр. Гродно, ул. Рогачевского 25 </h6>
                </a>
                <h6>Мы в соц сетях:</h6>
                <a href="https://www.instagram.com/alleutina_shop/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="viber://chat?number=%2B375291233211" target="_blank" title="Должен быть установлен Viber для ПК"><i class="fab fa-viber"></i></a>
                <a href="https://t.me/NickName" target="_blank"><i class="fab fa-telegram"></i></a>
            </div>
        </div>
    </div>
</div>

<!--HEADER-->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md col-sm col-xl">
                <!--NAVIGATION-->
                <div class="navbar">
                    <nav>
                        <ul class="nav" id="sub-menu">
                            <li><span><a [routerLink]="'/'">Главная</a></span></li>
                            <li *ngFor="let category of categories">
                                <span><a [routerLink]="['products/', category.line]"
                                        >{{category.name}}</a></span>
                                <ul class="nav">
                                    <li *ngFor="let subCategory of category.children">
                                        <span><a [routerLink]="['products/', subCategory.line]"
                                                >{{subCategory.name}}</a></span>
                                        <ul class="nav">
                                            <li *ngFor="let underSubCategory of subCategory.children">
                                                <span><a [routerLink]="['products/', underSubCategory.line]"
                                                        >{{underSubCategory.name}}
                                                    </a>
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><span><a [routerLink]="'/shop'">Магазин</a></span></li>
                        </ul>
                        
                    </nav>
                </div>
            </div>
        </div>
        <div class="logo-container">
        <div class="logo">
            <div class="logo_text">
                <a [routerLink]="'/'">
                    <h1>Alleutina Shop</h1>
                    <h2>HAND MADE</h2>
                </a>
            </div>
        </div>
        </div>
    </div>
    <img src="assets/img/bg/bg-main1.jpg" alt="" class="header_img">
</header>