<div *ngIf="loaded">
    <h1 class="h1-line"><span>Изменение пользователя</span></h1>
    <form class="product-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="product-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="rozi,tulpani, bojiy_oduvanchik..." type="text" formControlName="userName"
                [(ngModel)]="user.userName" />
            <mat-error *ngIf="form.get('userName').invalid">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="product-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="pat@example.com" [(ngModel)]="user.email" formControlName="email" required>
            <mat-error *ngIf="form.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>

        <div class="form-group">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Сохранить</button>
            <button [routerLink]="'/admin-panel/users'" mat-raised-button color="warn">Назад</button>
        </div>
    </form>
</div>
<div class="form-group_notFound" *ngIf="!loaded">
    <button [routerLink]="'/admin-panel/users'" mat-raised-button color="warn">Назад</button>
</div>
