<p class="text-xs-center">Регистрация для получения доступа</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div 
   class="form-group"
   [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
   >
    <label for="email">Email</label>
    <input 
      type="text" 
      class="form-control underlined" 
      id="email" 
      formControlName='email'
      placeholder="Введите email"
    >
    <span 
      class="form-help-text"
      *ngIf="form.get('email').invalid && form.get('email').touched"
      >
      <span *ngIf="form.get('email')['errors']['required']">Email не должен быть пустым.</span>
      <span *ngIf="form.get('email')['errors']['email']">Введите корректный email.</span>
      <span *ngIf="form.get('email')['errors']['forbiddenEmail']">Email уже занят.</span>
    </span>
  </div>
 
  <div formGroupName="passwords">
  <div 
   class="form-group"
   [ngClass]="{'has-error': form.get('passwords').get('password').invalid && form.get('passwords').get('password').touched }"
   >
    <label for="password">Пароль</label>
    <input 
      type="password" 
      class="form-control underlined" 
      id="password"
      formControlName="password" 
      placeholder="Введите пароль"
      >
      <span 
      class="form-help-text"
      *ngIf="form.get('passwords').get('password').invalid && form.get('passwords').get('password').touched"
      >
      <span *ngIf="form.get('passwords').get('password')['errors']['required']">Пароль не должен быть пустым.</span>
      <span 
        *ngIf="form.get('passwords').get('password')['errors']['minlength']"
      >Пароль должен быть не меньше {{ form.get('passwords').get('password')['errors']['minlength']['requiredLength'] }} символов.
    </span>
    </span>
  </div>
  <div 
   class="form-group"
   [ngClass]="{'has-error': form.get('passwords').invalid && form.get('passwords').get('confpassword').touched }"
   >
    <label for="confpassword">Повторите пароль</label>
    <input 
      type="password" 
      class="form-control underlined" 
      id="confpassword"
      formControlName="confpassword" 
      placeholder="Повторите пароль"
      >
      <span 
      class="form-help-text"
      *ngIf="form.get('passwords').invalid && form.get('passwords').get('confpassword').touched"
      >Пароли должны совпадать.
    </span>
  </div>
</div>

  <div 
    class="form-group"
    [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}"
    >
    <label for="name">Имя</label>
    <input 
      type="text" 
      class="form-control underlined" 
      id="name"
      formControlName="name" 
      placeholder="Введите имя"
      >
    <span
      class="form-help-text"
      *ngIf="form.get('name').invalid && form.get('name').touched"
      >
      Введите имя.
    </span>
  </div>
  
  

  <div class="form-group">
    <label for="agree">
      <input
       class="checkbox" 
       id="agree" 
       type="checkbox"
       formControlName="agree"
       >
      <span>Согласен с правилами</span>
    </label>
  </div>
  <section class="example-section">
    <mat-checkbox
     class="example-margin"
     formControlName="agree"
     id="agree"
     >Согласен с правилами
    </mat-checkbox>
  </section>

  <div class="form-group">
    <button 
    type="submit" 
    class="submit_button" 
    mat-raised-button color="primary" 
    [disabled]="form.invalid">Зарегистрироваться
  </button>
  </div>

  <div class="form-group">
    <p class="text-muted text-xs-center">
      Есть аккаунт? <button [routerLink]="'/auth/login'" mat-flat-button color="accent">Войти!</button>
    </p>
  </div>
</form>