<div class="modal-text-cont">
  <div class="cover-collection">
    <div class="cover-img">
      <img src="https://localhost:5001/Resources/images/product-2.jpg">
    </div>
    <h2 class="cover-title">
      Product Name
    </h2>
  </div>
</div>
<div class="info-form">
  <h2 mat-dialog-title>Уточнить наличие</h2>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Имя</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Телефон</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox class="example-margin" #roleCheck>Запросить наличие</mat-checkbox>
    </section>
    <section class="example-section">
      <mat-checkbox class="example-margin" #roleCheck>Запросить цену</mat-checkbox>
    </section>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" color="warn">Закрыть</button>
    <button mat-button [mat-dialog-close]="data.animal" color="primary" cdkFocusInitial>Отправить</button>
  </div>
</div>