<h3>Забыли пароль?</h3>
<form (ngSubmit)="onSubmit()">

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Введите email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <button [routerLink]="'/auth/login'" 
              mat-flat-button 
              color="accent"
              >Назад к логину
      </button>
      <button 
          type="submit"
          class="submit_button" 
          mat-raised-button color="primary" 
          [disabled]="email.invalid"
          >Отправить
      </button>
    </div>
</form>