<h3>Забыли пароль?</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Введите email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="form.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
        <button type="submit" class="submit_button" mat-raised-button color="primary" [disabled]="form.invalid">Войти</button>
      </div>
</form>