<h1 class="h1-line"><span>{{categoryName}}</span></h1>
<div class="errorOrNot" *ngIf="errorMsg">
    <h1>{{ errorMsg }}</h1>
    <a [routerLink]="'/'" class="button-outline">продолжить</a>
</div>
<div class="section" *ngIf="loaded">
    <div class="container">
        <!--ROW-->
        <div class="row">
            <!--col-md-3-->
            <div class="col-md-3" *ngFor="let product of products">
                <div class="card">
                    <div class="card__image">
                        <img [src]="product.imageUrl" alt="">
                        <a [routerLink]="['/product', product.productLine]" class="card__hover">
                            <div>
                                Подробнее
                            </div>
                        </a>
                    </div>
                    <a [routerLink]="['/product', product.productLine]" class="card__title">
                        <div>{{ product.name}}</div>
                    </a>
                    <div class="card__price">
                        <span *ngIf="product.oldPrice">{{ product.oldPrice}} BYN</span>
                        {{ product.price}} BYN
                    </div>
                    <a [routerLink]="['/product', product.productLine]" class="card__button card__button_nal">Уточнить
                        цену</a>
                </div>
            </div>
            <!--//col-md-3-->
        </div>
        <!--ROW-->
    </div>
</div>