<h1 class="h1-line"><span>Цветы</span></h1>
<div class="section">
    <div class="container">

        <!--ROW-->
        <div class="row">

            <!--col-md-3-->
            <div class="col-md-3">
                <div class="card">
                    <div class="card__image">
                        <img src="assets/img/products/red_roses_lite.jpg" alt="">
                        <div class="card__hover">
                            <a [routerLink]="'product/view'" class="card__button">Подробнее</a>
                        </div>
                    </div>
                    <div class="card__title">Букет 51 роза</div>
                    <div class="card__price">
                        <span>$100</span>
                        $95
                    </div>
                </div>
            </div>
            <!--//col-md-3-->
            <!--col-md-3-->
            <div class="col-md-3">
                <div class="card">
                    <div class="card__image">
                        <img src="assets/img/products/hriantemi.jpg" alt="">
                        <div class="card__hover">
                            <a [routerLink]="'product/view'" class="card__button">Подробнее</a>
                        </div>
                    </div>
                    <div class="card__title">Букет 51 роза</div>
                    <div class="card__price">
                        <span>$100</span>
                        $95
                    </div>
                </div>
            </div>
            <!--//col-md-3-->
            <!--col-md-3-->
            <div class="col-md-3">
                <div class="card">
                    <div class="card__image">
                        <img src="assets/img/products/tulpani.jpg" alt="">
                        <div class="card__hover">
                            <a [routerLink]="'product/view'" class="card__button">Подробнее</a>
                        </div>
                    </div>
                    <div class="card__title">Букет 51 роза</div>
                    <div class="card__price">
                        <span>$100</span>
                        $95
                    </div>
                </div>
            </div>
            <!--//col-md-3-->
            <!--col-md-3-->
            <div class="col-md-3">
                <div class="card">
                    <div class="card__image">
                        <img src="assets/img/products/white_roses.jpg" alt="">
                        <div class="card__hover">
                            <a [routerLink]="'product/view'" class="card__button">Подробнее</a>
                        </div>
                    </div>
                    <div class="card__title">Букет 51 роза</div>
                    <div class="card__price">
                        <span>$100</span>
                        $95
                    </div>
                </div>
            </div>
            <!--//col-md-3-->

        </div>
        <!--ROW-->

        <a [routerLink]="'/'" class="button-outline">brows all items</a>


    </div>
</div>